<div class="col-md-8">
    <div ng-model="article1">
        <h2>
            <a href="#/">{{article1[itemid-1].Title}}</a>
        </h2>
            <p><span class="glyphicon glyphicon-time"></span> Posted on {{article1[itemid-1].Date_Published | date: "yyyy-MM-dd"}}</p>        
        <hr>
        <img class="img-responsive" src="images/{{article1[itemid-1].Image}}">
        <hr>           
        <p>{{article1[itemid-1].Body}}</p>
        <a class="btn btn-primary" href="#/"> <span class="glyphicon glyphicon-chevron-left"></span>Go Back</a>
        <hr>
    </div>

</div>

<div class="col-md-4">

    <div class="well">
        <h4>Article Search</h4>
        <div class="input-group">
            <input type="text" ng-model="query" class="form-control">
                <span class="input-group-btn">
                    <button class="btn btn-default" type="button">
                <span class="glyphicon glyphicon-search"></span>
            </button>
            </span>
        </div>
    </div>

    <div class="well">
        <h4>All Articles</h4>
        <div class="row">
            <div class="col-lg-12">
                <ul class="list-unstyled">
                    <li style="margin-top: 5px;" ng-repeat="item in article.List_of_articles[0].Article | orderBy:'-id'">
                        <a ng-href="#/articles/{{item.id}}">{{item.Title}}</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="well">
        <h4>Articals of the same Category</h4>
        <div class="row">
            <div class="col-lg-12">
                <ul class="list-unstyled">
                    <div ng-model="article1">
                        <li ng-repeat="item10 in article.List_of_articles[0].Article">
                            <div ng-show="item10.Category_Id==article1[itemid-1].Category_Id">
                                <a style="margin-top: 5px;" ng-href="#/articles/{{item10.id}}">{{item10.Title}}</a>
                            </div>
                        </li>
                    </div>
                </ul>
            </div>
        </div>
    </div>

</div>
